/* Paleta de colores */
:root {
    --color-fondo: #ffb509;
    --color-primario: #020202; /* color café oscuro */
    --color-secundario: #ff8000; /* color café claro */
}

/* Reset básico */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
  
}

/* Navegación */
.navegacion a {
    margin-right: 15px;
    text-decoration: none;
    color: white;
}

/* Header */

.site-header {
    margin: 0;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3px, 1;
    color: rgb(255, 255, 255);
    text-align: center;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.no-margin {
  margin: 0;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 span {
    color: var(--color-secundario);
}

/* Contenido principal */
.contenido-principal {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.blog {
    flex: 2; /* el blog toma más espacio */
    margin-right: 20px;
}

.cursos {
    flex: 1;
}

.entrada-blog {
    display: flex;
    margin-bottom: 30px;
}

.entrada-blog .imagen {
    flex: none; /* Desactiva flex para establecer un ancho fijo */
    width: 450px; /* Ancho de la imagen */
    height: auto; /* Mantener proporción */
    margin-right: 20px;
    overflow: hidden;
}

.entrada-blog .imagen img {
    max-width: 100%;
    display: block;
    height: auto;
}

.entrada-blog .contenido-blog {
    display: flex;
    flex-direction: column; /* Organiza el contenido en columna para poner el botón en la parte inferior */
    justify-content: space-between; /* Distribuye el espacio entre el título/texto y el botón */
    height: 100%; /* Toma toda la altura disponible del contenedor padre */
}

.cursos-lista .curso {
    margin-bottom: 20px;
}

/* Footer */
.site-footer {
    padding: 20px 0;
    background-color: var(--color-primario);
    color: rgb(255, 255, 255);
    text-align: center;
}
.no-margine{
    max-width: 400px;
    height: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}